 

<form [formGroup]="loginForm">
    <div class="container">
        <mat-toolbar>Log In</mat-toolbar>
         <mat-form-field>
             <mat-label>userName</mat-label>
             <input matInput formControlName="username">
         </mat-form-field>
     
         <mat-form-field>
             <mat-label>Password</mat-label>
             <input matInput type="password" formControlName="password">
         </mat-form-field>
         <button (click)="sendlogin()">submit</button>
     </div>
</form>
