<mat-toolbar class="my-toolbar">
    <div class="logo">SMS</div> 
    <div class="nav-items">
        <span><a href="#home">Home</a></span>
         <span><a href="#about">About</a></span>
         <span><a href="#contact">Contact</a></span>
    <span><a href="#query">Raise Query</a></span>
      <span><a routerLink="student/dashboard" *ngIf="isLoggedIn()">Dashboard</a></span>
      <span><a routerLink="student/profile" *ngIf="isLoggedIn()">Profile</a></span>
      <span><a routerLink="student/login" *ngIf="!isLoggedIn()">LogIn</a></span>
      <span><a routerLink="/homePage" (click)="logout()" *ngIf="isLoggedIn()">LogOut</a></span>
 
    </div>
  </mat-toolbar>


    <router-outlet></router-outlet>