.section {
  height: 100vh;              
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  padding: 2rem;
  scroll-behavior: smooth;
}

.home-section {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
}

.about-section {
  background: #f9f9f9;
  color: #333;
}

.contact-section {
  background: #ffecd2;
  color: #222;
}

.query-section {
  background: #d3f8e2;
  color: #333;
}

.my-toolbar {
  position: fixed;   /* Keep navbar always on top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-items a {
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
